body {
    background: lightgray;
}
h1 {
    text-align: center;
    color: white;
    background: rgb(45, 158, 149);
}
.nav {
    margin: auto;
    background: white; 
}
.navbar-nav {
    align-items: right;
}
 /* unvisited link */
a:link {
    color: rgb(175, 165, 165);
  }
  /* visited link */
  a:visited {
    color: green;
  }
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  /* selected link */
  a:active {
    color: blue;
  }
h2 {
    color: rgb(45, 158, 149);
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    color: rgb(45, 158, 149) 
}
p {
    text-align: justify;
}
.container {
    background: lightgray;
    padding: 60px;
}
.row {
    height: 90%;
    background: white;
    padding: 25px;
}
.my_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.footer {
   background-color: rgb(83, 83, 83);
   color: white;
   height: 40px;
   position: sticky;
   bottom: 0;
   width: 100%;
}
.footer p {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}
.input-form {
    background-color: white;
    padding: 15px;
}
.brand-color {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(45, 158, 149);
    padding: 15px;
}
.submit_button {
    background-color: rgb(45, 158, 149);
}
.header {
    margin: auto;
}
.header h2 {
    text-align: center;
    margin: auto;
}
.portfolio_image {
    align: center;
    text-align: center;
}
.image_name {
    background-color: rgb(45, 158, 149);
    width: 300px;
    text-align: center;
    height: 30px;
    margin: auto;
    margin-bottom: 0px;
}
.portfolio_images  {
    background: lightgray;
    padding: 0;
}